* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #020617;
}

.logo {
  color: #38bdf8;
}

.cart {
  font-size: 18px;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #020617, #0f172a);
}

.hero h2 {
  font-size: 40px;
  color: #38bdf8;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

/* PRODUCTS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 50px;
}

.product-card {
  background: #020617;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.product-card h3 {
  margin: 15px 0 5px;
}

.product-card p {
  margin-bottom: 15px;
  color: #38bdf8;
  font-size: 18px;
}

.product-card button {
  background: #38bdf8;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.product-card button:hover {
  background: #0ea5e9;
}
s
